.main {
    background-color: rgba(10, 10, 10, 1);
    padding: 20px 40px 60px 40px;
    border: 4px solid white;
    font-family: "Loser";
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

.cover-art {
    width: 50px;
    height: auto;
}

.game-link {
    color: white;
    text-decoration: none;
}

.game-link:hover {
    text-decoration: underline;
}

.gameshelf-container {
    width: 100%;
}

#gameshelf-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#gameshelf-table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gameshelf-table td:first-child {
    flex-grow: 1;
}

#gameshelf-table td:last-child {
    text-align: right;
    margin-left: auto;
}

td {
    display: flex;
    align-items: center;
    font-size: 28px;
    gap: 10px;
}

th {
    font-size: 48px;
}

.main > h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.tracked-state-buttons {
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.tracked-state-buttons button {
    padding: 10px 20px;
    font-size: 28px;
    font-family: "Loser";
    cursor: pointer;
    background-color: rgba(10, 10, 10, 1);
    border: 2px solid white;
    color: white;
}

.tracked-state-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.tracked-state-buttons button:active {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-color: black;
}

.tracked-state-buttons button.tracked-state-button-active {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-color: black;
}