.main {
    background-color: rgba(10, 10, 10, 1);
    padding: 10px 40px;
    border: 4px solid white;
    font-family: "Loser";
    flex-direction: column;
    justify-content: flex-start;
}

.projects-header > h2 {
    font-size: 64px;
    margin: 20px 0px;
    text-align: center;
}

.projects-header > p {
    font-size: 32px;
    color: gray;
    opacity: 0.7;
    margin: 10px 0px;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
}

.project {
    border-bottom: 1.5px dotted white;
}

.project-title {
    text-decoration: none;
    color: white;
    font-size: 36px;
}

.project > p {
    font-size: 24px;
}

.project-title:hover {
    text-decoration: underline;
}