.main {
    height: 100%;
    z-index: 2;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 70%;
}

.bottom-container {
    display: flex;
    gap: 200px;
    width: 100%;
    justify-content: center;
}

.left-definition,
.right-links {
    background-color: rgba(10, 10, 10, 1);
    padding: 40px;
    border: 4px solid white;
}

.left-definition {
    width: 700px;
}

.definition-text-container {
    height: 50px;
    display: flex;
    align-items: center;
}

.left-definition > p {
    font-family: 'Loser', sans-serif;
    font-size: 24px;
}

#definition-pronunciation {
    font-family: 'Hungry', sans-serif;
    font-size: 18px;
}

.right-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-links > p {
    margin: 0;
    font-family: 'Loser', sans-serif;
    font-size: 32px;
}

.right-link {
    display: flex;
    gap: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Loser', sans-serif;
    font-size: 32px;
}

.selector-circle {
    width: 32px;
    height: auto;
}