.main {
    background-color: rgba(10, 10, 10, 1);
    padding: 10px 40px;
    border: 4px solid white;
    font-family: "Loser";
    flex-direction: column;
    justify-content: flex-start;
}

.main > h2 {
    font-size: 64px;
    margin: 20px 0px;
    margin-bottom: 100px;
}

#placeholder-blog-text {
    font-size: 32px;
    color: gray;
    opacity: 0.7;
}

#blog-header {
    margin-bottom: 0px;
}

.blog-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 150px;
    margin-bottom: 50px;
}

.blog-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-category > img {
    width: 180px;
    height: 180x;
}

.blog-category > p {
    text-align: center;
    font-size: 32px;
    margin: 0;
}

#blog-home-button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 36px;
}

.blog-entry-title,
.blog-entry-date-written,
.blog-entry-description {
    margin: 0;
}

.blog-entry-title {
    font-size: 36px;
    font-weight: bold;
}

.blog-entry-date-written {
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
}

.blog-entry-description {
    font-size: 24px;
}