.main {
    background-color: rgba(10, 10, 10, 1);
    padding: 10px 40px;
    border: 4px solid white;
    font-family: "Loser", serif;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

#post-header {
    font-size: 48px;
    margin-top: 20px;
}

#post-date {
    font-size: 32px;
    color: gray;
    opacity: 0.7;
}

.intro {
    margin-bottom: 70px;
}

.intro > p,
.outro > p {
    font-size: 26px;
}

.nominee-category {
    margin-top: 50px;
}

.nominee-category-name {
    font-size: 48px;
    text-align: center;
}

.nominee-options > p {
    font-size: 32px;
}

.nominee-options-list {
    font-size: 28px;
}

.nominee-choices {
    font-size: 28px;
}

.nominee-info {
    font-size: 24px;
}