.main {
    background-color: rgba(10, 10, 10, 1);
    padding: 10px 40px;
    border: 4px solid white;
    font-family: "Loser", serif;
    flex-direction: column;
    justify-content: flex-start;
}

#post-header {
    font-size: 48px;
    margin-top: 20px;
}

#post-date {
    font-size: 32px;
    color: gray;
    opacity: 0.7;
}

.intro > p {
    font-size: 26px;
}